@import url(https://fonts.googleapis.com/css2?family=Goblin+One&display=swap);


body {
    background-color: rgb(185, 190, 188);
    width: 100%;
    height: 100%;
    margin: 10px;
}


/*Configuração do menu*/
nav#menu {
    display: block;
}

/*Formatação do ul*/
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
}

/*Formatação do li (Cada elemento da lista)*/
nav#menu li {
    display: inline-block;
    background-color: rgb(242, 248, 247);
    font-family: 'Goblin One', sans-serif;
    padding: 15px;
    margin: 4px;
    
}

nav#menu li:hover {
    background-color: rgb(231, 223, 211);
}


nav#menu a {
    color: #08130e;
    text-decoration: none;
}

nav#menu a:hover {
    color:rgb(10, 88, 14)
    
}

div#faixa {
    display: block;
    background-color: rgb(5, 58, 29);
    position: absolute;
    width: 100%;
    margin-top: 70px;
    
    
}

div#faixa h1 {
    color:#ffffff;
    font-size: 60px;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

div#faixa h6 {
    color: #ffffff;
    font-size: 15px;
    margin-left: 1000px;
    margin-top: -60px;
}

/*Local do corpo da página*/
#corpo { 
    display: block;
    position: absolute;
    top: 180px;
    width: 800px;  
}

#cabecatexto h1 {
    font-size: 30px;
    position: relative;
    padding-left: 15px;
    
}

#principal {
    border-right: 1px solid black;
}

#texto p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}

#texto a {
    text-decoration: none;
}

